<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <h2 class="fw-bold m-2 ms-3 text-uppercase">Login</h2>
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body pb-5 ps-5 pe-5 text-center">
              <form class="p-3 mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mt-md-4 pb-1">
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label class="form-label" for="type_user">Usuário</label>
                  <input type="email" id="type_user" formControlName="username" class="form-control form-control-lg" />
                </div>
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <label class="form-label" for="type_pass">Senha</label>
                  <input type="password" id="type_pass" formControlName="password" class="form-control form-control-lg" />
                </div>
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                  <!--div class="d-flex justify-content-center text-center mt-4 pt-1">
                </div-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>