
<div class="background">
    <div class="main-card mb-3 card">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">Marca</th>
            <th class="text-center">Modelo</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Motivo</th>
            <th class="text-center">Trabalho</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
                <div class="widget-content-left flex2">
                    <div class="widget-heading">John Doe</div>
                    <div class="widget-subheading opacity-7">Web Developer</div>
                </div>
            </td>
            <td class="text-center">johndoe.com</td>
            <td class="text-center">johndoe.com</td>
            <td class="text-center">johndoe.com</td>
            <td class="text-center">
                <div class="badge badge-danger">In Progress</div>
            </td>
            <td>Inactive</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jane Smith</td>
            <td>janesmith.com</td>
            <td>janesmith.com</td>
            <td>janesmith.com</td>
            <td>Inactive</td>
            <td>Inactive</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>