/*@import "../node_modules/bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'bootstrap/scss/bootstrap';*/
@use "bootstrap/scss/bootstrap" as *;
@use "bootstrap" as *;

.c-pointer {
    cursor: pointer;
  }
  
  .c-default {
    cursor: default;
  }
  
  :root {
    .table {
    --bs-table-hover-bg: #e0f1ff!important; 
    }
  }